@font-face {
    font-family: 'Sugo';
    src: url("./assets/fonts/sugo/Sugo_ExtraLightTrial.ttf") format('truetype');
}
body
{
    font-family: 'Sugo', serif;
    font-size: 30px;
    text-transform: lowercase;
    background-color: black;
    color: white;
    margin: 0 ;
}
a
{
    color: turquoise;
    text-decoration: none;
}
a:visited
{
    color: aquamarine;
}
a:hover
{
    text-decoration: underline;
}